* {
  margin: 0;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1px;
  
}

header {
  background-color: #00655b;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 50px;
}

.nav__brand {
  height: 40px;
  position: absolute;
  padding: 10px;
}

.nav__title {
  font-weight: 400;
}

.help-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #444;
  font-size: 56px;
}

.page-header {
  padding-bottom: 8.5px;
  margin: 65px 0 23px;
  margin-left: 10vw;
  margin-right: 10vw;
  border-bottom: 1px solid #eee;
}

.project {
  padding-bottom: 10.5px;
  margin: 65px 0 23px;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 23px;
  margin-bottom: 11.5px;
  margin-right: 7px;
}

table, .table2{
  border-collapse: separate;
  border-spacing: 2px;
  margin-left: 10vw;
  border-radius: 5px;
  margin-right: 10vw;
  margin-bottom: 5vw;
}
th, tr {
  color: #444;
  font-size: 17px;
  padding-right: 50px;
  border-bottom: 1px solid #eee;
}

td{
  font-size: 17px;
  padding-right: 50px;
  
}
